name: 02-E2E Test helm chart
on:
  workflow_dispatch:
    inputs:
      BRANCH:
        description: 'helm chart branch name'
        required: false
        default: 'main'
        type: string
      TESTS_BRANCH:
        description: 'tests branch name'
        required: false
        default: 'master'
        type: string
      KS_BRANCH:
        required: false
        default: 'release'
        type: string
        description: 'kubescape branch name'
      CHARTS_NAME:
        type: choice
        description: 'What chart do you want to test?'
        options:
          - kubescape-operator
          - rapid7-operator

  workflow_call:
    inputs:
      BRANCH:
        required: false
        default: 'main'
        type: string
        description: 'helm chart branch name'
      TESTS_BRANCH:
        required: false
        default: 'master'
        type: string
        description: 'tests branch name'
      KS_BRANCH:
        required: false
        default: 'release'
        type: string
        description: 'kubescape branch name'
      CHARTS_NAME:
        required: false
        default: 'kubescape-operator'
        type: string
        description: 'chart name to test'

jobs:
  e2e-test:
    uses: armosec/shared-workflows/.github/workflows/b-run-system-tests-self-hosted.yaml@main
    with:
      GITHUB_REPOSITORY: ${{ github.repository }}
      ENVIRONMENT: ${{ inputs.CHARTS_NAME == 'rapid7-operator' && 'armo-prod-us-east-1' || 'production' }}
      TESTS_GROUPS: HELM_CHARTS_E2E
      SYSTESTS_BRANCH: ${{ inputs.TESTS_BRANCH }}
      IN_CLUSTER_CHART_BRANCH: ${{ inputs.BRANCH }}
      KS_BRANCH: ${{ inputs.KS_BRANCH }}
      CHARTS_NAME: ${{ inputs.CHARTS_NAME }}
      CHARTS_REPO: ${{ github.repository }}
    secrets: inherit
