name: 03-Helm chart release

on:
  workflow_dispatch:
    inputs:
      CHARTS_NAME:
        type: choice
        description: What chart do you want to release?
        options:
          - kubescape-operator
          - rapid7-operator
      HELM_E2E_TEST:
        description: "Run Helm E2E tests as part of the workflow"
        required: false
        default: true
        type: boolean
      TESTS_BRANCH:
        description: "system tests branch name"
        required: false
        default: "master"
        type: string
      RELEASE_BRANCH:
        description: "branch to release from"
        required: false
        default: "main"
        type: string

  workflow_call:
    inputs:
      COMMIT_REF:
        description: "commit reference to release from"
        required: true
        type: string
      CHARTS_NAME:
        description: "What chart do you want to release?"
        required: true
        type: string
      HELM_E2E_TEST:
        description: "Whether to run Helm E2E tests when calling this workflow"
        required: false
        default: true
        type: boolean
      TESTS_BRANCH:
        description: "system tests branch name"
        required: false
        default: "master"
        type: string
      RELEASE_BRANCH:
        description: "branch to release from"
        required: false
        default: "main"
        type: string

jobs:
  e2e-test:
    if: ${{ inputs.HELM_E2E_TEST }}
    with:
      BRANCH: ${{ inputs.RELEASE_BRANCH || 'main' }}
      TESTS_BRANCH: ${{ inputs.TESTS_BRANCH }}
      KS_BRANCH: "master"
      CHARTS_NAME: ${{ inputs.CHARTS_NAME }}
    uses: ./.github/workflows/02-e2e-test.yaml
    secrets: inherit

  helm-chart-release:
    needs: e2e-test
    if: ${{ !cancelled() && (needs.e2e-test.result == 'success' || needs.e2e-test.result == 'skipped') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.RELEASE_BRANCH || inputs.COMMIT_REF }}
          fetch-depth: 0

      - name: git status
        run: git status

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v3.5
        # with:
        #   version: v3.4.0

      - name: Filter charts
        run: |
          find charts -mindepth 1 -maxdepth 1 -type d -not -name "${{ inputs.CHARTS_NAME }}" -exec rm -rf {} +

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        with:
          charts_dir: charts
        env:
          CR_TOKEN: "${{ github.token }}"

      - name: Mark as pre-release
        if: inputs.RELEASE_BRANCH && inputs.RELEASE_BRANCH != 'main'
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          chart_name=$(grep '^name:' charts/${{ inputs.CHARTS_NAME }}/Chart.yaml | awk '{print $2}')
          version=$(grep '^version:' charts/${{ inputs.CHARTS_NAME }}/Chart.yaml | awk '{print $2}')
          gh release edit $chart_name-$version --prerelease
